@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  overflow-x: hidden;
}

.rectangle{
  width:150vw;
  height:60vw;
  background: linear-gradient(to right,#7F00FF, #b403fa);
  rotate: -10deg;
  position: absolute;
  margin-top: -30em;
  margin-left: -2.5em;
  border-radius: 60px;
  z-index: -1;
}

.rectangle2{
  width:150vw;
  height:30vw;
  background: linear-gradient(to right,#7F00FF, #b403fa);
  rotate: 10deg;
  position: absolute;
  margin-top: 50em;
  margin-left: -58.5em;
  border-radius: 60px;
  z-index: -1;
}

.rectangle3{
  width:150vw;
  height:85vw;
  background: linear-gradient(to right,#7F00FF, #b403fa);
  position: fixed;
  margin-top: -10em;
  margin-left: -15.5em;
  border-radius: 60px;
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
}

h1 {
  grid-column-start: 0; 
  grid-column-end: 0;
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  margin-left: 10%;
  font-size: 5vw;
}

ul {
  grid-column-start: 2;
  grid-column-end: 2;
}

li {
  grid-column-start: 1;
  grid-column-end: 1;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  display: inline-block;
  margin-left: 2vw;
}

.menu {
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  display: inline-block;
  margin-left: 0.4vw;
  text-align: right;
  margin-top: 50%;
  font-size: 2vw;
}

a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
}

p {
  grid-column-start: 0; 
  grid-column-end: 0;
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  margin-left: 10%;
  font-size: 1.8vw;
}

#CV {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43%;
}

#Image {
  width: 100%;
}

.Logo {
  width: 2%;
  height: 2%;
  padding-right: 1%;
}

#pfp {
  width: 43%;
}

@media screen and (max-width: 1600px) {
  
  .rectangle{
    width:150vw;
    height:300vw;
    background: linear-gradient(to right,#7F00FF, #b403fa);
    position: fixed;
    rotate: 0deg;
    margin-top: -10em;
    margin-left: -15.5em;
    border-radius: 60px;
    z-index: -1;
  }

  .rectangle3{
    width:150vw;
    height:300vw;
    background: linear-gradient(to right,#7F00FF, #b403fa);
    position: fixed;
    rotate: 0deg;
    margin-top: -10em;
    margin-left: -15.5em;
    border-radius: 60px;
    z-index: -1;
  }
  
  nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr;
  }
  
  .menu {
    text-decoration: none;
    color: white;
    font-family: 'Righteous', cursive;
    display: inline-block;
    margin-left: 0;
    text-align: right;
    margin-top: 0;
    font-size: 2em;
  }

  h1 {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    margin-left: 0;
    font-size: 4em;
  }

  ul {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    margin-left: -2vw;
    text-align: center;
  }
  
  li>a {
    display: inline-block;
    margin-left: 0;
  }

  li>h1 {
    margin-left: 0;
  }

  

  p {
    grid-column-start: 0; 
    grid-column-end: 0;
    text-decoration: none;
    color: white;
    font-family: 'Righteous', cursive;
    margin-left: 10%;
    font-size: 2em;
  }

  #CV {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .Logo {
    width: 5%;
    height: 5%;
    padding-right: 1%;
  }
  
  }


