@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  overflow-x: hidden;
}
.rectangle{
  width:150vw;
  height:60vw;
  background: linear-gradient(to right,#7F00FF, #b403fa);
  rotate: -10deg;
  position: absolute;
  margin-top: -22em;
  margin-left: -2.5em;
  border-radius: 60px;
  z-index: -1;
}


nav {
  /* peux tu créer plusieurs colonnes */
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
}

h1 {
  grid-column-start: 0; 
  grid-column-end: 0;
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  margin-left: 10%;
  font-size: 5vw;
}

ul {
  grid-column-start: 2;
  grid-column-end: 2;
}

li {
  grid-column-start: 1;
  grid-column-end: 1;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  display: inline-block;
  margin-left: 2vw;
}

.menu {
  /* créer moi un menu de connexion */
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
  display: inline-block;
  margin-left: 0.4vw;
  text-align: right;
  margin-top: 50%;
  font-size: 2vw;
  transition: .5s ease-out;
}

a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#CV {
  width:800px; 
  height:1200px;
  margin-left: 28%;
  /* center l'image au milieu de la page web*/
  /* bordure */
  border: 10px solid #ffffff;
  /* bordure arrondie */
  border-radius: 20px;
  /* ombre */
  box-shadow: 0 0 10px #ffffff;
}
